<!DOCTYPE html>
<html>
<title>Tradester</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
var loadFile = function(event) {
var output = document.getElementById('output');
output.src = URL.createObjectURL(event.target.files[0]);
};
</script>

<style>
    html, body, h1, h2, h3, h4, h5, textarea, text {
        font-family: "Open Sans", sans-serif
    }



    .search-container {
        float: right;
    }

    .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

    .search-container button:hover {
        background: #ccc;
    }

    @media screen and (max-width: 600px) {
        .topnav .search-container {
            float: none;
        }
        .search-container button {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }
    }



    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    input[type="file"] {
        display: none;
    }

    /* Set a style for all buttons */
    .button0 {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: auto;
    }

    .button3 {
        background-color: white;
        color: black;
        border: 2px solid #f44336;
    }

    .button3:hover {
        background-color: #f44336;
        color: white;
    }

    button:hover {
        opacity: 0.8;
    }
    .button0:hover {
        opacity: 0.8;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
        width: auto;
        padding: 14px 20px;
        background-color: #f44336;
    }

    .custom-file-upload {
        border: 1px solid #78D8EF;
        display: inline-block;
        padding: 12px 18px;
        cursor: pointer;
        background-color: #F0FCFF;
    }

    /* Center the image and position the close button */
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }

    .container {
        padding: 16px;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        padding-top: 60px;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
        from {
            -webkit-transform: scale(0)
        }
        to {
            -webkit-transform: scale(1)
        }
    }

    @keyframes animatezoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }

    /*Change styles for span and cancel button on extra small screens*/
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }

        .cancelbtn {
            width: 100%;
        }
    }

    .zoom {
        transition: transform .2s; /* Animation */
        width: 2.5%;
    }

    .zoom:hover {
        transform: scale(6); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

</style>

<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
           href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="/profile" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i
                    class="fa fa-home w3-margin-right"></i>Tradester</a>

        <a href="/messages" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i
                    class="fa fa-envelope"></i></a>

        <div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span
                        class="w3-badge w3-right w3-small w3-green">3</span></button>
            <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
                <a href="#" class="w3-bar-item w3-button">Trade request from <"trader"></a>
                <a href="#" class="w3-bar-item w3-button">Trade request from <"trader"></a>
                <a href="#" class="w3-bar-item w3-button">Trade request from <"trader"></a>
            </div>

        </div>

        <!--<div class="search-container" style="display: inline-block">-->
            <!--<form action="/action.php">-->
                <!--<input type="text" placeholder="Search.." name="search">-->
                <!--<button type="submit"><i class="fa fa-search"></i></button>-->
            <!--</form>-->
        <!--</div>-->

        <!--<div class="top-bar">-->
            <!--<form method="post">-->
            <!--<div class="search-container">-->
                <!--<input class="search" src= "/hi" type="search" placeholder="Search">-->
            <!--</div>-->
            <!--</form>-->
        <!--</div>-->



        <a href="/auth/logout" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
           title="Logout">
            Logout&nbsp
            <img src="<%=user.profile_pic_url%>" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
        </a>
    </div>
</div>

<!-- Navbar on small screens -->
<!--<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">-->
    <!--&lt;!&ndash;<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>&ndash;&gt;-->
    <!--<a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>-->
<!--</div>-->

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center">My Profile</h4>
                    <p class="w3-center"><img src="<%=user.profile_pic_url%>" class="w3-circle"
                                              style="height:106px;width:106px" alt="Avatar"></p>
                    <hr>
                    <p><i class="fa fa-smile-o fa-fw w3-margin-right w3-text-theme"></i> Completed Trades : </p>
                    <p><i class="fa fa-meh-o fa-fw w3-margin-right w3-text-theme"></i> Pending Trades : </p>
                    <p><i class="fa fa-tasks fa-fw w3-margin-right w3-text-theme"></i> Total Trades : </p>
                </div>
            </div>
            <br>

            <!-- Accordion -->
            <div class="w3-card w3-round">
                <div class="w3-white">
                    <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                                class="fa fa-user-o fa-fw w3-margin-right"></i> About me
                    </button>
                    <div id="Demo1" class="w3-hide w3-container">
                        <p>Name:  <%=user.lname%></p>
                    </div>
                    <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                                class="fa fa-bars fa-fw w3-margin-right"></i> My Wish List
                    </button>
                    <div id="Demo2" class="w3-hide w3-container">
                        <ul style="list-style-type:circle">
                            <li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li>
                        </ul>
                    </div>
                    <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                                class="fa fa-users fa-fw w3-margin-right"></i> My Friends
                    </button>
                    <div id="Demo3" class="w3-hide w3-container">
                        <div class="w3-row-padding">
                            <!--<br>-->
                            list of friends ...
                            <!--<p>&nbsp;</p>-->
                            <!--<div class="w3-half">-->
                                <!--<img src="/dashboard_images/Prog.jpg" style="width:100%" class="w3-margin-bottom">-->
                            <!--</div>-->
                            <!--<div class="w3-half">-->
                                <!--<img src="/dashboard_images/Prog.jpg" style="width:100%" class="w3-margin-bottom">-->
                            <!--</div>-->
                            <!--<div class="w3-half">-->
                                <!--<img src="/dashboard_images/Prog.jpg" style="width:100%" class="w3-margin-bottom">-->
                            <!--</div>-->
                            <!--<div class="w3-half">-->
                                <!--<img src="/dashboard_images/Prog.jpg" style="width:100%" class="w3-margin-bottom">-->
                            <!--</div>-->
                            <!--<div class="w3-half">-->
                                <!--<img src="/dashboard_images/Prog.jpg" style="width:100%" class="w3-margin-bottom">-->
                            <!--</div>-->
                            <!--<div class="w3-half">-->
                                <!--<img src="/dashboard_images/Prog.jpg" style="width:100%" class="w3-margin-bottom">-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <!-- Interests -->
            <!--<div class="w3-card w3-round w3-white w3-hide-small">-->
            <!--<div class="w3-container">-->
            <!--<p>Interests</p>-->
            <!--<p>-->
            <!--<span class="w3-tag w3-small w3-theme-d5">News</span>-->
            <!--<span class="w3-tag w3-small w3-theme-d4">W3Schools</span>-->
            <!--<span class="w3-tag w3-small w3-theme-d3">Labels</span>-->
            <!--<span class="w3-tag w3-small w3-theme-d2">Games</span>-->
            <!--<span class="w3-tag w3-small w3-theme-d1">Friends</span>-->
            <!--<span class="w3-tag w3-small w3-theme">Games</span>-->
            <!--<span class="w3-tag w3-small w3-theme-l1">Friends</span>-->
            <!--<span class="w3-tag w3-small w3-theme-l2">Food</span>-->
            <!--<span class="w3-tag w3-small w3-theme-l3">Design</span>-->
            <!--<span class="w3-tag w3-small w3-theme-l4">Art</span>-->
            <!--<span class="w3-tag w3-small w3-theme-l5">Photos</span>-->
            <!--</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<br>-->

            <!-- Alert Box -->
            <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
<span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
<i class="fa fa-remove"></i>
</span>
                <p><strong>Hey!</strong></p>
                <p><%= suggestion %></p>
            </div>

            <!-- End Left Column -->
        </div>




        <!-- Middle Column -->
        <div class="w3-col m7" style="margin-top: -1.1%">

            <!--<div class="w3-row-padding">-->
            <!--<div class="w3-col m12">-->
            <!--<div class="w3-card w3-round w3-white">-->
            <!--<div class="w3-container w3-padding">-->
            <!--<h6 class="w3-opacity">Social Media template by w3.css</h6>-->
            <!--<p contenteditable="true" class="w3-border w3-padding">Status: Feeling Blue</p>-->
            <!--<button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <div class="w3-container w3-row-padding w3-card w3-white w3-round w3-margin"><br>
                <img src="<%=user.profile_pic_url%>" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                     style="width:60px;height:60px">
                <span class="w3-right w3-opacity">1 min</span>
                <h4><%=user.lname%> <%=user.fname%></h4><br>
                <hr class="w3-clear">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                <div class="w3-row-padding" style="margin:0 -16px">
                    <div class="w3-half">
                        <img src="/w3images/lights.jpg" style="width:100%" alt="Northern Lights"
                             class="w3-margin-bottom">
                    </div>
                    <div class="w3-half">
                        <img src="/w3images/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">
                    </div>
                </div>


                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>
                     Like
                </button>
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>
                     Comment
                </button>
            </div>

            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <img src="<%=user.profile_pic_url%>" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                     style="width:60px;height:60px">
                <span class="w3-right w3-opacity">16 min</span>
                <h4><%=user.lname%> <%=user.fname%></h4><br>
                <hr class="w3-clear">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>
                     Like
                </button>
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>
                     Comment
                </button>
            </div>

            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <img src="<%=user.profile_pic_url%>" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                     style="width:60px;height:60px">
                <span class="w3-right w3-opacity">32 min</span>
                <h4><%=user.lname%> <%=user.fname%></h4><br>
                <hr class="w3-clear">
                <p>Have you seen this?</p>
                <img src="/dashboard_images/Prog.jpg" style="width:100%" class="w3-margin-bottom">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>
                     Like
                </button>
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>
                     Comment
                </button>
            </div>

            <!-- End Middle Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-col m2">
            <div class="w3-card w3-round w3-white w3-left">
                <div class="w3-container">
                    <p class="w3-center"><strong>Add Your Own Item</strong></p>
                    <img src="/dashboard_images/additems.png" alt="Forest" style="width:100%;">
                    <button class="button0" onclick="document.getElementById('id01').style.display='block'"
                            style="width:100%;border-radius: 10px;">Add Item
                    </button>

                    <div id="id01" class="modal" >
                        <form class="modal-content animate" enctype="multipart/form-data" method="post"
                              action="/action_page.php">
                            <div class="imgcontainer">
                                <span onclick="document.getElementById('id01').style.display='none'" class="close"
                                      title="Close Modal">&times;</span>
                            </div>

                            <div class="container" style>
                                <label for="item_name"><b>Item's name</b></label>
                                <input type="text" placeholder="Enter items name" name="item_name">

                                <label for="description"><b>Item's Description</b></label><br>
                                <textarea class="input"
                                          style="font-family:sans-serif; width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;resize: none"
                                          placeholder="Enter Description" rows="10%" cols="160%" id="suggested"
                                          name="description"></textarea><br>

                                <button class="button0" type="submit">Add Item</button>
                                <button type="button" style="float:right;"
                                        onclick="document.getElementById('id01').style.display='none'"
                                        class="cancelbtn">Cancel
                                </button>

                                <label class="custom-file-upload">
                                    <input type="file" accept=".png, .jpg, .jpeg" name="img" onchange="loadFile(event)">
                                    Choose a file
                                </label>
                                <img class="zoom" id="output" style="width: 2.5%;position: relative"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--new line-->
            <p>&nbsp;</p>

            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <p><strong>View All Items</strong></p>
                    <img src="/dashboard_images/Viewallitems.png" alt="Avatar" style="width:100%"><br>
                    <!--<span>Jane Doe</span>-->

                    <form action="/items_view.php" method="POST">
                        <input class="button0 " type="submit" style="width:100%;border-radius: 12px" value="View all Items"/>
                    </form>

                </div>
            </div>
            <br>

            <!--<div class="w3-card w3-round w3-white w3-padding-16 w3-center">-->
                <!--<p>ADS</p>-->
            <!--</div>-->
            <!--<br>-->

            <!--<div class="w3-card w3-round w3-white w3-padding-32 w3-center">-->
                <!--<p><i class="fa fa-bug w3-xxlarge"></i></p>-->
            <!--</div>-->

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
    <h5>Footer</h5>
</footer>

<!--<footer class="w3-container w3-theme-d5">-->
    <!--<p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>-->
<!--</footer>-->
<script>
    // Get the modal
    var modal = document.getElementById('id01');
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<script>
    // Accordion
    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-theme-d1";
        } else {
            x.className = x.className.replace("w3-show", "");
            x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" w3-theme-d1", "");
        }
    }


    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</body>
</html>