<!DOCTYPE html>
<html>
<head>
    <%include ../partials/head.ejs%>>
</head>

<body class="w3-theme-l5">

<%include ../partials/header.ejs%>

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">


    <div class="w3-row-padding w3-center">
        <%if (trade_items.length < 1){ %>>
        <h1 style="align-self: center">Seems like you don't have any requests yet..</h1>
        <%}else{ %>


        <% var i = 0; %>
        <%while (i < trade_items.length) { %>

        <div class ="w3-half">
            <h4 align="center" style="margin-left: 10%"><strong><%=trade_items[i].to_name%></strong> wants to trade their <%=trade_items[i].to_item_name%> for your <%=trade_items[i].from_item_name%></h4>

            <div class="w3-half">

        <img src="<%=trade_items[i].from_pic_url%>" style="width:300px;height:300px"  alt="Concrete meets bricks">
        <form  method="get" action="/complete_trade">
        <button class="w3-button w3-block w3-green w3-section" style="  opacity: 0.8;" type="submit" id="trade_item" name="trade_item"
        value="<%=trade_items[i].from_itemid%>A<%=trade_items[i].to_itemid%>"
        > Trade Item <i class="fa fa-check"></i></button>
        </form>
        </div>

    <div class="w3-half">
        <img src="<%=trade_items[i].to_pic_url%>" style="width:300px;height:300px"  alt="Concrete meets bricks">
        <form  method="get" action="/delete_trade">
            <button class="w3-button w3-block w3-red w3-section" style="  opacity: 0.8;" type="submit" id="trade_item"
                    value="<%=trade_items[i].from_itemid%>A<%=trade_items[i].to_itemid%>"
                    name="trade_item" > Cancel trade <i class="fa fa-remove"></i></button>
        </form>
    </div>
        </div>
        <% i++ }%>

        <%}%>
  </div></div>


</body>
</html>
